#! /usr/bin/make -f

export PYBUILD_NAME=scarlet-shark-client
%:
	dh $@ --with quilt,python3 --buildsystem=pybuild

override_dh_builddeb:
	dh_builddeb -- -Zxz

# Shipped in the tarball, modified after a build:
override_dh_clean:
	dh_clean
	rm -rf scarlet_shark_client.egg-info/
